.App {
    display: flex;
    margin: 0 auto;
    width: 60vw;
    height: 60vh;
}

.Options {
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.Chat {
    display: flex;
    height: 60vh;
    flex-direction: column;
}


.outergrid {
    width: 30vw;
}

.Users {
    display: flex;
    height: 60vh;
    flex-direction: column;

}

.message-list {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.guess-input {
    display: flex;
    height: 10%;
    width: 100%;
}

.guess-message.ui.message:first-child {
    margin-top: auto !important;
}

.guess-message {
    height: 5%;
    background: white;
    border: 1px solid gray;
    padding: 0 1vh;
}

.grid {
    line-height: 0;
    min-height: 1px;
    margin: 0;
    width: 100%;
    touch-action: none;
    cursor: cell;
}

body {
    margin: 0px;
    padding: 0px;
}


.grid:before {
    content: '';
    display: table;
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

.row {
    width: 100%;
    display: flex;
}

.cell {
    border: 1px solid #585858;
    border-width: 0 1px 1px 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}
